<!--suppress HtmlFormInputWithoutLabel -->
<html lang="nl">
<head>
    <title> Alle producten </title>
{#        The CSS class "error" is toggled via js which this does not understand#}
    <!--suppress CssUnusedSymbol -->
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 0.3rem;
        }
        tr:nth-child(even) {
            background-color: lightblue;
        }
        tr:hover {
            background-color: cornflowerblue;
        }
        .error {
            background-color: red;
            border: 3px solid black;
        }
    </style>
    <script>
        function remove_email(address) {
            const tableRow = document.getElementById("email_" + address);
            const req = new XMLHttpRequest();
            req.open("POST", "/verwijder_email", true)
            req.setRequestHeader("Content-Type", "application/json")
            req.onreadystatechange = function () {
                if (req.readyState === 4 && req.status === 200) {
                    tableRow.remove();
                }
            }
            req.send(JSON.stringify({email: address}));
        }
        function add_email() {
            const email_inp = document.getElementById("new_email_inp");
            
            if (!email_inp.validity.valid) {
                email_inp.classList.add("error");
                return;
            }
            
            email_inp.classList.remove("error");
                        
            const req = new XMLHttpRequest();
            req.open("POST", "/toevoegen_email", true)
            req.setRequestHeader("Content-Type", "application/json")
            req.onreadystatechange = function () {
                if (req.readyState === 4 && req.status === 200) {
                    window.location.reload()
                }
            }
            req.send(JSON.stringify({email: email_inp.value}));
        }
    </script>
</head>
    <body>
    <h2>Ga naar:</h2>
    <p>
    <!--suppress HtmlUnknownTarget -->
        <a href="/alle_producten"><button> Alle producten. </button> </a>
    </p>
    <p>
    <!--suppress HtmlUnknownTarget -->
    <a href="/boodschappenlijst"><button> boodschappenlijst. </button> </a>
    </p>
    <p>
    <!--suppress HtmlUnknownTarget -->
    <a href="/instellingen"><button> instellingen. </button> </a>
    </p>
    <h1>Instellingen</h1>
    
    <h2>Scanner functie</h2>
    <p>
        <span id="scannerfunctiontext"> Huidige functie: {{ scanner_function }}</span>
        <button onclick="switch_scanner_function()">Switch funtie</button>
    </p>
    
    <h2>Boodschappenlijst email adressen</h2>
    <table>
        <colgroup>
{#                <th>Email adres</th>#}
            <col style="width: 30rem">
{#                <th>Email opslaan</th>#}
            <col style="width: fit-content">
        </colgroup>
        <thead>
            <tr>
                <th>Email adres</th>
                <th>Email Opslaan/verwijderen</th>
            </tr>
        </thead>
        <tbody>
        {% for email in emails %}
            <tr id="{{ "email_" + email}}">
{#                <th>Email adres</th>#}
                <td>
                    <input style="width: 100%" class="email_address" disabled type="email" value="{{ str_of_or(email, "ERROR, MISSENDE EMAIL IN DATABASE") }}">
                </td>
{#                <th>Email opslaan</th>#}
                <td>
                    <button onclick="remove_email('{{ email }}')">Email Verwijderen</button>
                </td>
            </tr>
        {% endfor %}
        <tr id="new_email_tr">
{#                <th>Email adres</th>#}
            <td>
                <input style="width: 100%" id="new_email_inp" class="email_address" type="email" value="" placeholder="Nieuwe email">
            </td>
{#                <th>Email opslaan</th>#}
            <td>
                <button onclick="add_email()">Email opslaan</button>
            </td>
        </tr>
        </tbody>
    </table>
    <ul>
        {% for product in incorrect_counts_lidl %}
            <li>{{ product.gewenst - product.count }} stuks {{ product.naam if product.naam != None else product.barcode }}. </li>            
        {%endfor%}
    </ul>
    
    </body>
</html>
